.main-body {
  background-color: #f1f5f9;
}

/* Menghilangkan scrollbar di semua browser utama */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;      /* Firefox */
}
